img{

}

#recipe{
	border-radius:100vw;
	margin-top:1vw;
 margin-left:30vw;
 margin-right:30vw;
}
#prawns{
	margin-top:1vw;
border-radius:100vw;
width:34vw;
height:34vw;
}
#food{
border-radius:100vw;
width:34vw;
height:34vw;	
}
